*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background: rgb(25, 25, 25);
  font-family: Helvetica, Arial, 'Droid Sans', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 32px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 16px;
}

header img {
  height: 64px;
  margin-left: 1rem;
}

header h1 {
  color: white;
  font-size: 60px;
  margin: 0;
  white-space: nowrap;
}

main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

#map {
  margin-right: 16px;
  flex: 1;
  height: 100%;
  min-width: 500px;
}

.filter-option-header {
	color:white;
}

.filter-option-subheader {
	color:lightgray;
}

.filter-date {
  display: flex;
  justify-content: space-between;
}

.filter-date h3 {
  margin-top: 0;
}

#time-slider {
	margin-top:50px;
	margin-right: 15px;
	margin-left: 15px;
}

.noUi-connect {
	background: #42b0f4 !important;
}

.btn-group button {
  background-color: #42b0f4; /* Green background */
  border: 1px solid #4186f4; /* Green border */
  color: white; /* White text */
  padding: 5px 14px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button.selected {
	background-color: #0581ff;
}

svg, svg * {
  pointer-events: all !important;
}